[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/s03p23d208/backend/.venv/bin/uwsgi -i /home/ubuntu/s03p23d208/backend/.config/uwsgi/PackMan.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
